body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: darkslategrey;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  color: white;
  display: flex;
  justify-content: space-around;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  position: absolute;
  gap: 3rem;
  flex-direction: column;
}

.shopBtn {
  background-color: white;
  color: black;
  padding: 1rem;
  width: 10rem;
  font-size: 20px;
  text-decoration: none;
  text-align: center;
}

.slogan {
  font-weight: bold;
  font-size: 20px;
  color: white;
  margin-top: 3rem;
}

.shelf {
  margin-top: 5rem;
  width: 30rem;
  height: 20rem;
}

.header {
  display: flex;
  justify-content: space-around;
  color: white;
  font-size: 3rem;
}

.BackHome {
  text-decoration: none;
  color: inherit;
}

.addCartContain {
  margin-left: 2.5rem;
}

.addCart {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.itemAmount {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.itemAppleAmount {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.itemOrangeAmount {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.itemDragonAmount {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.itemPearAmount {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.itemPineappleAmount {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem;
  margin-right: 2rem;
}

.homeShop {
  text-decoration: none;
  color: inherit;
}

.cart {
  display: none;
  background-color: white;
}

#cartImg {
  width: 3rem;
  height: 3rem;
  margin: 1rem;
}

label {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
}

input {
  width: 8rem;
  margin-left: 3rem;
}

.cartBtn {
  cursor: pointer;
}

.cardContain {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60%;
  position: absolute;
  gap: 10rem;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 3rem;
}

.card {
  background-color: white;
  width: 15rem;
  height: 15rem;
}

.fruitPics {
  width: 15rem;
  height: 15rem;
  cursor: pointer;
}

.checkout {
  display: flex;
  justify-content: end;
  display: none;
  gap: 2rem;
}

.checkoutBtn {
  background-color: gray;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
}